*.o
*.obj
*.lib
*.exp
*.def
*.dll
*.inc
*.rc
*.res
*.ncb
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
*.time
*.vcxproj.user
*.mode1v3
*.pbxuser
*.APS
.LSOverride
.DS_Store
.ext
.installed.list
ext/*/mkmf.log
ext/*/extconf.h
ext/*/*/mkmf.log
ext/*/*/extconf.h
ext/dl/*.func
ext/dl/dlconfig.h
ext/dl/dlconfig.rb
ext/tk/config_list
ext/win32ole/.document
Makefile
config.h
config.status
enc.mk
miniruby.exe
parse.c
rbconfig.rb
ruby*.exe
